* {
    box-sizing: border-box
}
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.42857143;
    color: #f8f8f8;
    background-color: #622AAD
}
header {
    margin: 4rem 0 0;
    text-align: center
}
main {
    display: -wekbit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 2rem auto 0
}
footer {
    margin: 4rem 0 0;
    padding: 10px 0;
    text-align: center;
    background-color: #7948BB
}
button {
    padding: 10px 30px;
    border: 0;
    border-radius: 4px;
    font-size: 115%;
    background-color: #FFCA2C;

    -webkit-transition: background-color 150ms ease;
    -moz-transition: background-color 150ms ease;
    -ms-transition: background-color 150ms ease;
    transition: background-color 150ms ease
}
button:hover {
    cursor: pointer;
    background-color: #E1AA04
}
h1 {
    display: inline-block;
    margin: 30px auto 45px auto;
    padding: 5px 30px 20px 0;
    font-size: 500%;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -1.5px;
    text-transform: capitalize;
    border-right: 10px solid #fff
}
textarea {
    width: 100%;
    padding: 15px 10px 10px 10px;
    color: #622AAD;
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #ccc;
    border-radius: 6px
}
a {
    color: #FFD453
}
p {
    letter-spacing: .5px
}
.a {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    visibility: hidden;
    clip-path: 9999px
}
.cb,
.ca {
    width: 100%
}
.cc {
    align-self: center;
    padding: 30px
}
.cc button {
    margin: 0 0 10px
}
.e {
    font-size: 70%
}
.el {
    padding-left: 30px;
    font-size: 400%
}
.es {
    font-size: 150%
}
.ma {
    display: -wekbit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    width: 85%;
    margin: 0 auto
}
.mt {
    max-width: 55%;
    margin: 0 auto 2rem
}
.ts {
    color: #ccc;
    font-size: 70%;
    font-style: italic
}

@media (max-width: 768px) {
    .ma {
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 360%;
        border-right-width: 8px
    }
    footer p {
        padding: 0 5%;
    }
    footer a:last-of-type {
        display: inline-block
    }
    .el {
        font-size: 300%
    }
    .mt {
        max-width: 75%
    }
}
@media (max-width: 340px) {
    h1 {
        margin-bottom: 1.5rem;
        padding-right: 0;
        border-right: 0;
        border-bottom: 10px solid #fff
    }
    .el {
        display: block;
        padding-left: 0;
        font-size: 400%
    }
}